---
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const entries = await getCollection("notes");
  return entries.map((entry: CollectionEntry<"notes">) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"notes">;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Base title={entry.data.title}>
  <article>
    <header>
      <h1>{entry.data.title}</h1>
      <p>{entry.data.excerpt}</p>
    </header>
    <Prose>
      <Content />
    </Prose>
  </article>
</Base>
