---
import Base from "@layouts/Base.astro";
import Display from "@components/typography/Display.astro";
import Body from "@components/typography/Body.astro";
---

<Base title="About">
  <Display as="h1">About</Display>
  <Body as="p">Professional context and background.</Body>
</Base>
