---
import BaseLayout from "@components/layout/BaseLayout.astro";
import PageHeader from "@components/layout/PageHeader.astro";
import PageFooter from "@components/layout/PageFooter.astro";
import Main from "@components/layout/Main.astro";
import { pageTitle } from "@lib/metadata.js";

interface Props {
  title: string;
  description?: string | undefined;
}

const { title, description } = Astro.props;
const canonicalPath = Astro.url.pathname;
---

<BaseLayout title={pageTitle(title)} description={description} canonicalPath={canonicalPath}>
  <div class="site-wrapper">
    <PageHeader />
    <Main>
      <slot />
    </Main>
    <PageFooter />
  </div>
</BaseLayout>

<style>
  .site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
