---
interface Props {
  class?: string;
  andText?: boolean;
  max?: string;
}

const {
  class: className = "",
  andText = false,
  max = "var(--measure-prose)",
} = Astro.props;
---

<div
  class={`center ${className}`}
  style={`text-align: ${andText ? "center" : "inherit"}; max-width: ${max};`}
>
  <slot />
</div>

<style>
  .center {
    box-sizing: content-box;
    margin-inline: auto;
  }
</style>
